/* Lists of stories */

.stories-list {
  margin: 5px 5px;
  padding-right: 40px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  padding: 1rem;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}
.story-author {
  color: green;
}
.story-user {
  color: orange;
}
.story {
  display: block;
  margin-left: 2.5em;
}

.star-icon {
  cursor: pointer;
}
.star-icon:hover {
  color: #ff6600;
}
.inside-li-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.popup-backdrop {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.popup-form {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
