/* Lists of stories */

.stories-list {
  margin: 5px 5px;
  padding-right: 40px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  padding: 1rem;
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}

/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: bold;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}
.story-author {
  color: green;
}
.story-user {
  display: block;
  color: orange;
}
.story {
  margin-left: 2.5em;
}

.star-icon {
  cursor: pointer;
}
.star-icon:hover {
  color: #ff6600;
}
